<div class="grid w-full place-items-center">
<h1 class="mt-5 text-xl font-semibold">Edit expense</h1>

<%= render "form", property_expense: @property_expense %>

<%= link_to "Show this expense", @property_expense %>
<%= link_to "Back to expenses", property_expenses_path %>
</div>
