<div class="grid w-full place-items-center">
<h1 class="mt-5 text-xl font-semibold">Edit income</h1>

<%= render "form", property_income: @property_income %>

<%= link_to "Show this income", @property_income %>
<%= link_to "Back to incomes", property_incomes_path %>
</div>
