<%= turbo_frame_tag "payable_ids" do %>
  <% if payables.present? %>
    <span id="payable_ids" class="w-1/2">
      <%= label_tag 'property_payment[payable_id]', nil, class: label_class %>
      <%= select_tag 'property_payment[payable_id]', options_for_select(payables), class: input_class %>
    </span>
  <% end %>
<% end %>
