<%= turbo_frame_tag "kinds", class:"w-1/2" do %>
  <% if values.present? %>
    <span id="values">
      <%= label_tag "#{kind}_id", nil, class: label_class %>
      <%= select_tag "property_payment[#{kind}_id]", options_for_select(values), class: input_class %>
    </span>
  <% end %>
<% end %>
