<div class="grid w-full place-items-center">
<h1 class="mt-5 text-xl font-semibold">Edit Client</h1>

<%= render "form", customer_client: @customer_client %>

<%= link_to "Show this client", @customer_client %>
<%= link_to "Back to clients", customer_clients_path %>
</div>
