<div class="grid w-full place-items-center">
<h1 class="mt-5 text-xl font-semibold">Edit payment</h1>

<%= render "form", property_payment: @property_payment %>

<%= link_to "Show this payment", @property_payment %>
<%= link_to "Back to payments", property_payments_path %>
</div>
