<h1>Editing payment</h1>

<%= render "form", property_payment: @property_payment %>

<br>

<div>
  <%= link_to "Show this payment", @property_payment %> |
  <%= link_to "Back to payments", property_payments_path %>
</div>
