<h1>Editing rental</h1>

<%= render "form", property_rental: @property_rental %>

<br>

<div>
  <%= link_to "Show this rental", @property_rental %> |
  <%= link_to "Back to rentals", property_rentals_path %>
</div>
