<div class="grid w-full place-items-center">
<h1 class="mt-5 text-xl font-semibold">Edit rental</h1>

<%= render "form", property_rental: @property_rental %>

<%= link_to "Show this rental", @property_rental %>
<%= link_to "Back to rentals", property_rentals_path %>
</div>
