<div class="grid w-full place-items-center">
<h1 class="mt-5 text-xl font-semibold">Edit sale</h1>

<%= render "form", property_sale: @property_sale %>

<%= link_to "Show this sale", @property_sale %>
<%= link_to "Back to sales", property_sales_path %>
</div>
