<div class="grid w-full place-items-center">
<h1 class="text-xl font-semibold">New sale, <span class="font-normal">please fill in information about your sale</span></h1>

<%= render "form", property_sale: @property_sale %>

</div>
