<div class="grid w-full place-items-center">
<h1 class="mt-5 text-xl font-semibold">Edit property</h1>

<%= render "form", property_property: @property_property %>

<%= link_to "Show this property", @property_property %>
<%= link_to "Back to propertys", property_propertys_path %>
</div>
